*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    max-width: 600px;
    margin: 0 auto;
}

.carousel{
    position: relative;
    overflow: hidden;
}

.carousel .carousel-inner{
    position: relative;
    display: flex;
    overflow: hidden;
}

.carousel .carousel-inner img{
   max-width: 100%;
   height: 348px;
}

.carousel .carousel-nav{
    position: absolute;
    bottom: 5%;
    right: 5%;
}

.carousel .carousel-nav button{
    border: none;
    background: #fff;
    padding: 5px 20px;
    cursor: pointer;
}

.carousel .carousel-nav button:hover{
    background: green;
    color: #fff;
}